<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="6">
                <header>
                    <h1>Nombre del Curso</h1>
                </header>
            </ion-col>
        </ion-row>

        <ion-list>
            <ion-row>
                <ion-row [routerLink]="['../curso']" class="card ion-justify-content-center ion-align-items-center">
                    <h2>Manejo de objeciones</h2>
                    <ion-row>
                        <ion-col size="3">

                        </ion-col>
                        <ion-col size="6">
                            <img src="../../assets/img/estrellas.png" />

                        </ion-col>
                        <ion-col size="3">

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="img" size="12">

                            <img src="../../assets/img/img1.png" />

                        </ion-col>
                    </ion-row>



                </ion-row>

            </ion-row>

            <ion-row>
                <ion-row [routerLink]="['../curso']" class="card ion-justify-content-center ion-align-items-center">
                    <h2>Tecnicas de ventas</h2>
                    <ion-row>
                        <ion-col size="3">

                        </ion-col>
                        <ion-col size="6">
                            <img src="../../assets/img/estrellas.png" />

                        </ion-col>
                        <ion-col size="3">

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="img" size="12">

                            <img src="../../assets/img/img2.png" />

                        </ion-col>
                    </ion-row>



                </ion-row>

            </ion-row>
            <ion-row>
                <ion-row [routerLink]="['../curso']" class="card ion-justify-content-center ion-align-items-center">
                    <h2>Control kp's </h2>
                    <ion-row>
                        <ion-col size="3">

                        </ion-col>
                        <ion-col size="6">
                            <img src="../../assets/img/estrellas.png" />

                        </ion-col>
                        <ion-col size="3">

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="img" size="12">

                            <img src="../../assets/img/img3.png" />

                        </ion-col>
                    </ion-row>



                </ion-row>

            </ion-row>
            <ion-row>
                <ion-row [routerLink]="['../curso']" class="card ion-justify-content-center ion-align-items-center">
                    <h2>Telemarketing</h2>
                    <ion-row>
                        <ion-col size="3">

                        </ion-col>
                        <ion-col size="6">
                            <img src="../../assets/img/estrellas.png" />

                        </ion-col>
                        <ion-col size="3">

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="img" size="12">

                            <img src="../../assets/img/img4.png" />

                        </ion-col>
                    </ion-row>



                </ion-row>

            </ion-row>


        </ion-list>

    </ion-grid>

</ion-content>