<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>

      <ion-col size="6">

          <header>

              <h1>Nombre del Curso</h1>

          </header>


      </ion-col>

  </ion-row>
    <ion-row>
      <ion-list>
        <div class="card" style="margin-top: 30px;">

          <ion-row class="ion-align-items-center" style="border-bottom: 2px dashed #939393;">
            <ion-col>
            </ion-col>
            <ion-col size="9">
              <h1 style="color:#020D33;">Introduccion al curso</h1>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <div class="text2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste est ab qui? Aliquid accusantium
                  dolorem assumenda. Iure, vitae nesciunt maiores et officiis alias accusamus officia sapiente aperiam!
                  Voluptate, odit.
                </p>
              </div>
            </ion-col>
          </ion-row>

        </div>
        <div class="card" style="margin-top: 30px;">

          <ion-row class="ion-align-items-center" >
            <video autoplay controls loop src="../../assets/img/videoplayback.mp4"></video>
          </ion-row>

         

        </div>
      </ion-list>
    </ion-row>
  </ion-grid>



</ion-content>