ion-content {
  --background: #ffffff;
}

ion-list {
  margin:20% auto;
}



h1 {

  color: #fff;

}

ion-menu-button {
  color: #020d33;
  --color: #020d33;
}

ion-toolbar {
  --background: #ffffff;
  --border-color: #fff;
  --color: #020d33;
  --opacity: 1;

}

.card {
  margin: 0 20px 40px 20px;
  border-radius: 30px;
  background-color: #ffffff00;
  box-shadow: -3px 7px 7px 3px #f0f0f0

}

header {
  margin: 100px 30px;
  padding: 10px;
}

img {
  position: relative;
  border-radius: 20px;

}