<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">

<ion-list>
    

    <ion-grid fixed>


        <ion-list>
            <ion-row>
                <ion-row [routerLink]="['../consultorias']" class="card ion-justify-content-center ion-align-items-center">

                    <img src="../../assets/img/BOTON CONSULTORIA.png" />

                </ion-row>
            </ion-row>

            <ion-row>

                <ion-row [routerLink]="['../learning']" class="card ion-justify-content-center ion-align-items-center">

                    <img src="../../assets/img/BOTON ELERARNING.png" />

                </ion-row>

            </ion-row>

        </ion-list>

    </ion-grid>



</ion-list>

</ion-content>