<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-grid fixed>

    <ion-row>
      <ion-col size="8">
        <header>
          <h1>Consultorias </h1>
        </header>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-row>
        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info.png" />

        </ion-row>
      </ion-row>

      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info2.png" />

        </ion-row>

      </ion-row>

      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info3.png" />

        </ion-row>

      </ion-row>

      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info4.png" />

        </ion-row>

      </ion-row>

      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info5.png" />

        </ion-row>

      </ion-row>
      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info7.png" />

        </ion-row>

      </ion-row>

      <ion-row>

        <ion-row [routerLink]="['../formulario']" class="card ion-justify-content-center ion-align-items-center">

          <img src="../../assets/img/info6.png" />

        </ion-row>

      </ion-row>